@black: #222;
@white: #ddd;
@grey: #888;

@xSmallQuery: ~"max-width: 550px";
@smallQuery: ~"max-width: 768px";
@mediumQuery: ~"max-width: 900px";


.vendor(@property, @value) { // webkit for mobile
  -webkit-@{property}: @value;
    @{property}: @value;
}

