@black: #222;
@white: #ddd;
@grey: #888;

@xxSmallQuery: ~"max-width: 350px";
@xSmallQuery: ~"max-width: 550px";
@smallQuery: ~"max-width: 768px";
@mediumQuery: ~"max-width: 900px";

@goldenRatio: 1.618;

.vendor(@property, @value) { // webkit for mobile
  -webkit-@{property}: @value;
    @{property}: @value;
}

